.places {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    align-self: center;
}
.places > h1 {
    margin-left: 20px;
    font-size: 30px;
    width: 100%;
}
.places > article {
    justify-content: center;
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    display: inline-block;
    text-align: center;
    position: relative;
}
.places > article > h2 {
    font-size: 30px;
    text-align: center;
    width: 390px;
}
.price_by_night {
    color: #FF5A5F;
    border: 4px solid  #FF5A5F;
    border-radius: 50%;
    height: 60px;
    min-width: 60px;
    font-size: 30px;
    position: absolute;
    top: 20px;
    right: 20px;
    text-align: center;
    line-height: 60px;
    
}
.information {
    display: flex;
    height: 80px;
    border-top: 1px solid  #DDDDDD;
    border-bottom: 1px solid  #DDDDDD;
    justify-content:center;
    align-items:top center;
}
.max_quest, .number_rooms, .number_bathrooms{
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: top center;
}
.max_quest  {
    background: url("../images/icon_group.png");
    background-repeat: no-repeat; 
    background-position: center; 
}
.number_rooms {
    background: url("../images/icon_bed.png");
    background-repeat: no-repeat; 
    background-position: center; 
}
.number_bathrooms {
    background: url("../images/icon_bath.png"); 
    background-repeat: no-repeat;
    background-position: center; 
}
.number_bathrooms h4, .max_quest h4, .number_rooms h4{
    display: inline-flex;
    align-self:flex-end;
    margin-left: 0;
   
}
.user{
    display: flex;
    margin-top: 20px;
    padding-left: 0px;
    padding-bottom: 0;

}
.user p {
    margin-left: 0px;
    margin-top: 20px;
    margin-bottom: 0;
    padding-bottom: 0;
    line-height: 0;
}
.description {
    text-align: left;
}
.amenities {
    margin-top: 40px;
    margin-left: 0;
}
.amenities ul,li{
    list-style-type: none;
    text-align: left;
    margin-left: 0;
    padding-left: 0%;
}
.amenities li{
    width: 100%;
    text-align: left;
    padding-left: 30px;
}


.amenities h2 {
    font-size: 16px;
    border-bottom: 1px solid #DDDDDD;
    padding: 0;
    margin: 0;
    text-align: left;
}
.amenities ul,li {
    list-style-type: none;
}
.reviews {
    margin-top: 40px;
    margin-left: 0;
    text-align: left;
}
.reviews h2 {
    font-size: 16px;
    border-bottom: 1px solid #DDDDDD;
}
.reviews ul,li {
    list-style-type: none;
    text-align: left;
    margin-left: 0;
    padding-left: 0;
 
}
.reviews ul li h3{
    font-size: 14px;
    margin-left: 0;
    text-align: left;
    line-height: 1ex;
}
.reviews ul li p {
    font-size: 12px;
    text-align: left;
}
.amenities .tv {
    background: url("../images/icon_tv.png");
    background-repeat: no-repeat; 
    background-size: contain;
    background-position: top left; 
}
.amenities .pet {
    background: url("../images/icon_pets.png");
    background-repeat: no-repeat; 
    background-size: contain;
    background-position: top left; 
}
.amenities .wifi{
    background: url("../images/icon_wifi.png");
    background-repeat: no-repeat; 
    background-size: contain;
    background-position: top left; 
}